In [1]:
a = 1

In [2]:
print(type(a))

<class 'int'>

In [3]:
def temp():
    print("Hello world")
    print(1+2)
    return 0

In [4]:
print(temp())

Hello world
3
0

In [5]:
print(temp)

<function temp at 0x0000013F7AD4DCA0>

In [6]:
b = 'hello'
b()

TypeError: 'str' object is not callable

In [7]:
def adder():
#     soihgf

SyntaxError: unexpected EOF while parsing (2840398144.py, line 2)

In [8]:
# adder()

In [9]:
def adder(a, b):
    print(a)
    print(b)
    c = a+b
    return c

In [10]:
print(adder(1, 2))

1
2
3

In [11]:
var = adder(1, 2)

1
2

In [12]:
print(var)

3

# In python there are 3 types of arguments

1. Positional Argument
2. Default Argument
3. Varible length Argument

In [13]:
def adder(a, b, c):
    print(a)
    print(b)
    print(c)
    c = a+b+c
    return c

In [14]:
var = adder(10, 20, 30)

10
20
30

In [15]:
var

60

In [16]:
# def my_func(arg_1, arg_2):
#     print(arg_1, arg_2)

In [17]:
adder(10, 20, 30)

10
20
30

60

In [18]:
def adder(a, b, c = 0):
    print(a)
    print(b)
    print(c)
    c = a+b+c
    return c

In [19]:
print(adder(10, 20, 30))

10
20
30
60

In [20]:
print(adder(10, 20))

10
20
0
30

In [21]:
adder(1, 2)

1
2
0

3

In [22]:
def calculator(a, b):
    return (a+b), (a-b), (a*b), (a/b)

In [23]:
print(calculator(1, 2))

(3, -1, 2, 0.5)

In [24]:
print?

*Args and **Kwargs

In [25]:
def adder(a, b, c = 0):
    print(a+b+c)

In [26]:
adder(9, 9, 2)

20

In [27]:
def adder(a, b, *args):
    c = 1
    print(a+b)
    print(args)

In [28]:
adder(1, 2, 3.0, 4, 5, 6, 2, 2, 66, 55, 'abhijeet')

3
(3.0, 4, 5, 6, 2, 2, 66, 55, 'abhijeet')

# Loops: For and While

For loops

In [29]:
temp = 1
for i in range(5, 10):
    
    print(i)
    temp = temp*i
print(temp)

5
6
7
8
9
15120

In [30]:
temp

15120

In [31]:
def adder(a, b, *args):
    a = a + b
    print(args)
    for i in args:
        a = a + i
    print(a)

In [32]:
adder(1, 2, 3.0, 4, 5, 6, 2, 2, 66, 55)

(3.0, 4, 5, 6, 2, 2, 66, 55)
146.0

In [33]:
def adder(a, b, *args):
    a+=b
    print(args)
    for i in args:
        a+=i
    print(a)

In [34]:
adder(1, 2, 3.0, 4, 5, 6, 2, 2, 66, 55)

(3.0, 4, 5, 6, 2, 2, 66, 55)
146.0

In [35]:
x = 1
y = 2

In [70]:
def func():
    print(y)
#     y += t
    aa = 11
#     y = y + t
    print(x, y, a)
    return aa

In [71]:
aa = func()

2
9 2 1

In [72]:
x = 9
def adder():
    print(x)

In [73]:
adder()

9

In [74]:
print(x, y, aa)

9 2 11

WHILE LOOP

In [5]:
a = 0
while (a<5):
    print("Hello", a, sep='', end="")
    a = a + 1

Hello0Hello1Hello2Hello3Hello4

In [82]:
for i in range(1, 21, 10):
    print(i)

1
11

In [83]:
aa = 'Abhijeet'
for i in aa:
    print(i)

A
b
h
i
j
e
e
t

In [84]:
s = True
type(s)

bool

In [90]:
def type_input(a):
    print(type(a))
    for i in a:
        print(type(i))
#     return type(a)

In [91]:
type_input(('1','2','3','4',5))

<class 'tuple'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'int'>

In [92]:
type_input(0)

<class 'int'>

TypeError: 'int' object is not iterable

In [7]:
input_var = input('Enter a PIN lock')

Enter a PIN lock5555

In [8]:
input_var

'5555'

In [9]:
input

# Conditional statements (If, else, Elif)

In [11]:
a = 55

In [12]:
if a == 55:
    print("Hello")

Hello

In [16]:
if True:
    print("hi")

hi

In [37]:
a = 1
if (a != 0):
    print("Hello")
elif (a == 1):
    print("Hi")
elif (a == 20):
    print("Elif me hu")
else:
    print("Bye Bye!")

Hello

In [57]:
marks = input('enter marks')
marks = int(marks)
print(type(marks))

enter marks95
<class 'int'>

In [58]:
if marks>90:
    print("A")
elif marks>80:
    print("B")
elif marks>70:
    print("C")
else:
    print("Fail")

A

In [60]:
marks = int(input('enter marks'))
if marks>90 and marks >= 95:
    print("A", "Bravo!")
elif marks>80:
    print("B")
elif marks>70:
    print("C")
else:
    print("Fail")

enter marks92
B

In [65]:
password = int(input('enter marks'))
if password == 4520 or password == 2001:
    print("Correct")
else:
    print("Wrong password")

enter marks200
Wrong password

In [80]:
num = int(input('Enter a number'))

flag = False

if num == 1:
    print("Number is not prime nor composite")
elif num>1:
    for i in range(2, num):
        if (num%i) == 0:
            flag = True
            break
    if flag:
        print("Not Prime")
    else:
        print("Prime")

Enter a number1000
Not Prime

Break and Continue

In [73]:
for i in range(10):
    if (i == 5):
        break
    print(i)

0
1
2
3
4

In [76]:
for i in range(2):
    print("In loop if I", i)
    for j in range(5):
        print("In loop if J", j)
        if (j == 3):
            break

In loop if I 0
In loop if J 0
In loop if J 1
In loop if J 2
In loop if J 3
In loop if I 1
In loop if J 0
In loop if J 1
In loop if J 2
In loop if J 3

In [77]:
for i in range(2):
    print("In loop if I", i)
    for j in range(5):
        if (j == 3):
            continue
        print("In loop if J", j)

In loop if I 0
In loop if J 0
In loop if J 1
In loop if J 2
In loop if J 4
In loop if I 1
In loop if J 0
In loop if J 1
In loop if J 2
In loop if J 4

In [79]:
for i in range(2):
#     continue
    print("In loop if I", i)
    for j in range(5):
        continue
        print("In loop if J", j)

In loop if I 0
In loop if I 1

In [91]:
password = 'password'
false_attempt = 0
while(True):
    input_password = input('Enter the password')
    if input_password == password:
        print("Correct")
        break
    else:
        print("Try again")
        false_attempt += 1
        if false_attempt == 5:
            print('Screen locked, attempts over')
            break

Enter the passwordwsrf
Try again
Enter the passwordpassword
Correct

In [90]:
var = input('Number')
print(type(var))

Number55
<class 'str'>

# DATA Types

In [92]:
# 1. String
# 2. Lists
# 3. Tupples
# 4. Dictionary
# 5. Set

In [98]:
var = 100
var1 = 100
var2 = 1000

In [99]:
print(id(var), id(var1), id(var2))

140705370612592 140705370612592 1844555340944

In [100]:
var1 = 10
print(id(var), id(var1), id(var2))

140705370612592 140705370609712 1844555340944

In [101]:
print("The value of var is:", var, "and var1 is", var1, "and var2 is:", var2)

The value of var is: 100 and var1 is 10 and var2 is: 1000

In [104]:
print("The value of var is: {} and var1 {} is and var2 is {}".format(var, var1, var2))

The value of var is: 100 and var1 10 is and var2 is 1000

In [105]:
print(f"The value of var is: {var} and var1 {var1} is and var2 is {var2}")

The value of var is: 100 and var1 10 is and var2 is 1000

In [107]:
if input('Yes/No') == 'Yes':
    print('Authenticated')
else:
    print('Not Authenticated')

Yes/NoYes
Not Authenticated

In [111]:
if input('Yes/No') == 'Yes':
    print('Authenticated')
else:
    print('Not Authenticated')

Yes/NoYes
Not Authenticated

In [115]:
var = input('Enter something').strip()
print(var)

Enter something   Yes
Yes

In [119]:
if input('Yes/No').strip() == 'Yes':
    print('Authenticated')
else:
    print('Not Authenticated')

Yes/No      Yes
Authenticated

In [120]:
def remove_whitespace(string):
    temp = ''
    for i in string:
        if i == ' ':
            continue
        else:
            temp = temp + i
    return temp

In [121]:
print(remove_whitespace('   yes'))

yes

In [122]:
def remove_whitespace(string):
    temp = ''
    for i in string:
        if i != ' ':
            temp = temp + i
    return temp

In [123]:
print(remove_whitespace('   yes       '))

yes

In [129]:
if input('Yes/No').strip().lower() == 'yes':
    print('Authenticated')
else:
    print('Not Authenticated')

Yes/NoYeS
Authenticated

In [130]:
string = 'Hello my name is Abhijeet!'

In [132]:
print(string.lower())

hello my name is abhijeet!

In [134]:
input_var = input('Enter full name:')
print(f'{input_var.split()}')

Enter full name:Abhijeet Bhattacharya
['Abhijeet', 'Bhattacharya']

In [140]:
print(input('Enter Something').split(sep='_'))

Enter SomethingHello_my_name_is_Abhijeet_bhattacharya
['Hello', 'my', 'name', 'is', 'Abhijeet', 'bhattacharya']

In [138]:
input_var.split?

In [141]:
def splitter(string):
    temp = ''
    for i in string:
        if i != '_':
            temp += i
        else:
            temp += ' '
    print(temp)

In [142]:
splitter('the_man_is_sleeping_on_the_bench')

the man is sleeping on the bench

In [143]:
string = 'the man is sleeping on the bench'

In [144]:
print(string.count('t'))

2

In [145]:
count = 0
for i in string:
    if i == 't':
        count+=1
print(count)

2

In [150]:
string.replace('t', 'Hello')

'Hellohe man is sleeping on Hellohe bench'

In [153]:
def replacer(old, new, string):
    temp = ''
    for i in string:
        if i == old:
            temp += new
        else:
            temp += i
    print(temp)

In [156]:
replacer('t', 'Hello', 'the man is sleeping on the bench')

Hellohe man is sleeping on Hellohe bench

In [158]:
input_var.upper()

'ABHIJEET BHATTACHARYA'

#  LIST

In [30]:
l = [1,2,3,4,True,6.33,7,'89',9, print, range, [1,2]]

In [32]:
print(l, type(l))

[1, 2, 3, 4, True, 6.33, 7, '89', 9, <built-in function print>, <class 'range'>, [1, 2]] <class 'list'>

In [177]:
type(l)

list

In [178]:
a = print
a('Hello')

Hello

In [187]:
print(l[-1], l[-2], l[-3])

[1, 2] <class 'range'> <built-in function print>

In [188]:
l[-3]('hello')

hello

In [189]:
l

[1, 2, 3, 4, True, 6.33, 7, '89', 9, <function print>, range, [1, 2]]

In [190]:
l.append('hello')

In [192]:
l.append([1,2,3])

In [193]:
l

[1,
 2,
 3,
 4,
 True,
 6.33,
 7,
 '89',
 9,
 <function print>,
 range,
 [1, 2],
 'hello',
 [1, 2, 3]]

In [195]:
sublist = [1,2,3]

In [196]:
for i in sublist:
    l.append(i)

In [197]:
l

[1,
 2,
 3,
 4,
 True,
 6.33,
 7,
 '89',
 9,
 <function print>,
 range,
 [1, 2],
 'hello',
 [1, 2, 3],
 1,
 2,
 3]

In [198]:
short_list = [1,2.0,'3',4,5]

In [199]:
short_list.append(1)

In [200]:
short_list

[1, 2.0, '3', 4, 5, 1]

In [205]:
short_list.append?

In [203]:
short_list.append('hello')

In [204]:
short_list

[1, 2.0, '3', 4, 5, 1, 'hello']

In [207]:
short_list.insert(0, 'hello')

In [208]:
short_list

['hello', 1, 2.0, '3', 4, 5, 1, 'hello']

In [209]:
short_list.insert(4, False)

In [210]:
short_list

['hello', 1, 2.0, '3', False, 4, 5, 1, 'hello']

In [212]:
count = 0
for i in short_list:
    if i == '3':
        print(f'found at position {count}')
    else:
        count+=1

found at position 3

In [218]:
def splitter(string):
    temp = []
    prev_cursor = ''
    for i in string:
        if i != ' ':
            prev_cursor += i
        else:
            temp.append(prev_cursor)
            prev_cursor = ''
    temp.append(prev_cursor)
    print(temp)

In [219]:
splitter('Hello my name is Abhijeet Bhattacharya')

['Hello', 'my', 'name', 'is', 'Abhijeet', 'Bhattacharya']

In [220]:
short_list

['hello', 1, 2.0, '3', False, 4, 5, 1, 'hello']

In [222]:
short_list.pop()

'hello'

In [223]:
short_list

['hello', 1, 2.0, '3', False, 4, 5, 1]

In [224]:
short_list.pop(0)

'hello'

In [225]:
short_list

[1, 2.0, '3', False, 4, 5, 1]

In [226]:
short_list.pop(3)

False

In [227]:
short_list

[1, 2.0, '3', 4, 5, 1]

In [228]:
short_list.remove('3')

In [229]:
short_list

[1, 2.0, 4, 5, 1]

In [230]:
var = short_list.pop()

In [231]:
var

1

In [234]:
short_list

[1, 2.0, 4, 5]

In [233]:
short_list.pop?

In [235]:
short_list.reverse()

In [236]:
short_list

[5, 4, 2.0, 1]

In [237]:
l

[1,
 2,
 3,
 4,
 True,
 6.33,
 7,
 '89',
 9,
 <function print>,
 range,
 [1, 2],
 'hello',
 [1, 2, 3],
 1,
 2,
 3]

In [238]:
l.reverse()

In [239]:
l

[3,
 2,
 1,
 [1, 2, 3],
 'hello',
 [1, 2],
 range,
 <function print>,
 9,
 '89',
 7,
 6.33,
 True,
 4,
 3,
 2,
 1]

In [248]:
arr = [111,33,123,5,67,11,32,909,6,7,532,3,5]

In [243]:
arr.reverse()

In [249]:
arr

[111, 33, 123, 5, 67, 11, 32, 909, 6, 7, 532, 3, 5]

In [250]:
arr.sort(reverse=True)

In [251]:
arr

[909, 532, 123, 111, 67, 33, 32, 11, 7, 6, 5, 5, 3]

In [252]:
arr.sort?

In [9]:
a, b = 1, 2

In [10]:
print('The value of a is:', a, ' the value of b is:', b)

The value of a is: 1  the value of b is: 2

In [14]:
print(f'The value of a is: {a}, the value of b is: {b}, {chr(39)}')

The value of a is: 1, the value of b is: 2, '

In [16]:
string = "HELLO"

In [17]:
print(string.lower())

hello

In [20]:
for i in string:
    print(chr(ord(i) + 32), end='')

hello

In [29]:
print('hello', 'my', 'name', 'is', 'abhijeet', sep='_', end='? \n')
print("Hello again")

hello_my_name_is_abhijeet?
Hello again

In [35]:
for i in l:
    print(i)

1
2
3
4
True
6.33
7
89
9
<built-in function print>
<class 'range'>
[1, 2]

In [41]:
l[0]

1

In [42]:
a

1

In [43]:
input_user = input('Enter number')
temp = 0
for i in input_user:
    temp+=int(i)
    
print(temp)

Enter number123
6

In [66]:
input_user = 567
add = 0

while input_user>0:
    temp = 10
    add+=input_user%temp
    input_user = int(input_user/10)

print(add)

18

In [67]:
input_user = 567
print(input_user%10)
input_user = int(input_user/10)
print(input_user)
print(input_user%10)
input_user = int(input_user/10)
print(input_user)
print(input_user%10)

7
56
6
5
5

In [70]:
input_user = 567
add = 0

for i in range(len(str(input_user))):
    temp = 10
    add+=input_user%temp
    input_user = int(input_user/10)

print(add)

18

TUPPLE

In [74]:
tup = (1,2,3,4,'5',6.5)

In [75]:
print(type(tup))

<class 'tuple'>

In [76]:
tup

(1, 2, 3, 4, '5', 6.5)

In [77]:
print(tup[0])

1

In [79]:
var = range(2)
type(var)

range

In [87]:
def adder(a, b):
    return a+b, a-b

In [89]:
add = adder(2, 3)
print(add)
print(adder(2, 3))

(5, -1)
(5, -1)

In [97]:
for i in range(1, len(tup)+1):
    print(tup[-i])

6.5
5
4
3
2
1

In [114]:
list_tup = list(tup)
list_tup.append(0)
print(list_tup)

[1, 2, 3, 4, '5', 6.5, 200, 0]

In [115]:
list_tup[-1] = 200
print(list_tup)
tup = tuple(list_tup)
print(tup)

[1, 2, 3, 4, '5', 6.5, 200, 200]
(1, 2, 3, 4, '5', 6.5, 200, 200)

In [116]:
l

[1, 2, 3, 4, True, 6.33, 7, '89', 9, <function print>, range, [1, 2]]

In [128]:
var = l[-1]
print(var, var[0])
print(l[-1][0])

[1, 2] 1
1

In [141]:
tup = (1,2,3,4,'hello',6,[(1,2), 'hi'])
temp = tup[-1]
temp.append('0')
print(temp, tup)
print(tup[-1][0][1])

[(1, 2), 'hi', '0'] (1, 2, 3, 4, 'hello', 6, [(1, 2), 'hi', '0'])
2

In [154]:
print(l)
var = l.pop(3)
print(var, l)

[1, 2, 3, True, 6.33, 7, '89', 9, <built-in function print>]
True [1, 2, 3, 6.33, 7, '89', 9, <built-in function print>]

In [155]:
l.pop?

In [163]:
print(l)
l[0:7:3]

[1, 2, 3, 6.33, 7, '89', 9, <built-in function print>]

[1, 6.33, 9]

DICTIONARY

In [190]:
d = {
    'a': 'first alphabet in the abcd',
    2: 'It is an int with value 2',
    2:2,
    2.5: True,
    (1, 2): [1, 2],
    'dictionary':{
        1:1,
        2:2
    }
}

In [191]:
for i in d:
    print(i, d[i])

a first alphabet in the abcd
2 2
2.5 True
(1, 2) [1, 2]
dictionary {1: 1, 2: 2}

In [185]:
d['dictionary'][1]

1

In [187]:
l = [1,2,3,4, [1,2]]

In [188]:
l

[1, 2, 3, 4, [1, 2]]