In [2]:
# !pip install pandas

In [3]:
import pandas as pd
import numpy as np

In [8]:
user_data = {
    'Phy':np.array([50, 60, 70]),
    'Maths':np.array([50, 60, 70]),
    'Chem':np.array([50, 60, 70])
}

In [9]:
print(type(user_data))

<class 'dict'>

In [10]:
df = pd.DataFrame(user_data)

In [13]:
print(df, type(df))

   Phy  Maths  Chem
0   50     50    50
1   60     60    60
2   70     70    70 <class 'pandas.core.frame.DataFrame'>

In [18]:
df.head()

   Phy  Maths  Chem
0   50     50    50
1   60     60    60
2   70     70    70

In [19]:
df.columns

Index(['Phy', 'Maths', 'Chem'], dtype='object')

In [20]:
df = df.to_csv('marks.csv')

In [21]:
data = pd.read_csv('marks.csv')

In [22]:
data

   Unnamed: 0  Phy  Maths  Chem
0           0   50     50    50
1           1   60     60    60
2           2   70     70    70

In [23]:
data = data.drop(columns=['Unnamed: 0'])

In [24]:
data

   Phy  Maths  Chem
0   50     50    50
1   60     60    60
2   70     70    70

In [25]:
data.describe()

        Phy  Maths  Chem
count   3.0    3.0   3.0
mean   60.0   60.0  60.0
std    10.0   10.0  10.0
min    50.0   50.0  50.0
25%    55.0   55.0  55.0
50%    60.0   60.0  60.0
75%    65.0   65.0  65.0
max    70.0   70.0  70.0

In [31]:
data['Phy'][0]

50

In [44]:
data.iloc[:2, :2]

   Phy  Maths
0   50     50
1   60     60

In [56]:
print(data.columns.get_loc('Maths'))

1

In [57]:
pd.DataFrame.where?

In [58]:
my_data = data.values

In [59]:
my_data

array([[50, 50, 50],
       [60, 60, 60],
       [70, 70, 70]], dtype=int64)